.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.starBlock {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 15px;
    margin: 10px 0;
}

.star {
    cursor: pointer;
}

.wrapperMain {
    margin-top: 20px;
}

.title {
    margin-top: 30px;
    text-align: center;
}

.button {
    text-align: center;
}
